In [1]:
import pandas
teploty = pandas.read_csv("temperature.csv")
teploty

             Region  Country      City  Day  AvgTemperature
0            Africa  Algeria   Algiers    1            62.0
1            Africa  Algeria   Algiers    2            62.2
2            Africa  Algeria   Algiers    3            65.7
3            Africa  Algeria   Algiers    4            69.8
4            Africa  Algeria   Algiers    5            63.8
...             ...      ...       ...  ...             ...
8785  North America       US  Cheyenne   26            51.7
8786  North America       US  Cheyenne   27            55.5
8787  North America       US  Cheyenne   28            38.5
8788  North America       US  Cheyenne   29            36.8
8789  North America       US  Cheyenne   30            36.9

[8790 rows x 5 columns]

In [3]:
mereni_praha = teploty[teploty["City"] == "Prague"]
mereni_praha

      Region         Country    City  Day  AvgTemperature
2100  Europe  Czech Republic  Prague    1            43.5
2101  Europe  Czech Republic  Prague    2            48.5
2102  Europe  Czech Republic  Prague    3            44.4
2103  Europe  Czech Republic  Prague    4            39.7
2104  Europe  Czech Republic  Prague    5            40.6
2105  Europe  Czech Republic  Prague    6            42.3
2106  Europe  Czech Republic  Prague    7            43.5
2107  Europe  Czech Republic  Prague    8            41.4
2108  Europe  Czech Republic  Prague    9            43.8
2109  Europe  Czech Republic  Prague   10            43.0
2110  Europe  Czech Republic  Prague   11            39.5
2111  Europe  Czech Republic  Prague   12            36.7
2112  Europe  Czech Republic  Prague   13            35.8
2113  Europe  Czech Republic  Prague   14            35.5
2114  Europe  Czech Republic  Prague   15            39.1
2115  Europe  Czech Republic  Prague   16            38.5
2116  Europe  Czech Republic  Prague   17            36.6
2117  Europe  Czech Republic  Prague   18            37.0
2118  Europe  Czech Republic  Prague   19            37.5
2119  Europe  Czech Republic  Prague   20            37.0
2120  Europe  Czech Republic  Prague   21            41.3
2121  Europe  Czech Republic  Prague   22            44.6
2122  Europe  Czech Republic  Prague   23            41.8
2123  Europe  Czech Republic  Prague   24            46.2
2124  Europe  Czech Republic  Prague   25            43.3
2125  Europe  Czech Republic  Prague   26            34.6
2126  Europe  Czech Republic  Prague   27            36.1
2127  Europe  Czech Republic  Prague   28            39.3
2128  Europe  Czech Republic  Prague   29            36.9
2129  Europe  Czech Republic  Prague   30            33.7

In [5]:
nad_80 = teploty[teploty["AvgTemperature"] > 80]
nad_80

             Region Country             City  Day  AvgTemperature
30           Africa   Benin          Cotonou    1            81.7
31           Africa   Benin          Cotonou    2            81.8
32           Africa   Benin          Cotonou    3            83.6
33           Africa   Benin          Cotonou    4            83.4
34           Africa   Benin          Cotonou    5            80.3
...             ...     ...              ...  ...             ...
8011  North America      US      Brownsville    2            80.8
8012  North America      US      Brownsville    3            81.1
8015  North America      US      Brownsville    6            80.5
8042  North America      US   Corpus Christi    3            80.2
8074  North America      US  Dallas Ft Worth    5            80.1

[722 rows x 5 columns]

In [6]:
nad_60_evropa = teploty[(teploty["AvgTemperature"] > 60) & (teploty["Region"] == "Europe")]
nad_60_evropa

      Region   Country       City  Day  AvgTemperature
1932  Europe   Albania     Tirana   13            60.3
2402  Europe     Italy       Rome    3            62.2
2404  Europe     Italy       Rome    5            60.4
2580  Europe  Portugal     Lisbon    1            62.5
2581  Europe  Portugal     Lisbon    2            63.2
2582  Europe  Portugal     Lisbon    3            61.1
2583  Europe  Portugal     Lisbon    4            61.6
2602  Europe  Portugal     Lisbon   23            64.2
2603  Europe  Portugal     Lisbon   24            62.6
2701  Europe     Spain  Barcelona    2            63.8
2702  Europe     Spain  Barcelona    3            63.1
2703  Europe     Spain  Barcelona    4            63.5
2704  Europe     Spain  Barcelona    5            61.6
2730  Europe     Spain     Bilbao    1            62.9
2731  Europe     Spain     Bilbao    2            66.3
2732  Europe     Spain     Bilbao    3            63.8
2751  Europe     Spain     Bilbao   22            62.7
2752  Europe     Spain     Bilbao   23            69.5
2753  Europe     Spain     Bilbao   24            62.5

In [11]:
teplotni_extremy = teploty[(teploty["AvgTemperature"] > 80) | (teploty["AvgTemperature"] < -20)]
teplotni_extremy.sort_values("AvgTemperature").head(60)

,Region,Country,City,Day,AvgTemperature
227,Africa,Gambia,Banjul,18,-99.0
558,Africa,Nigeria,Lagos,19,-99.0
559,Africa,Nigeria,Lagos,20,-99.0
560,Africa,Nigeria,Lagos,21,-99.0
232,Africa,Gambia,Banjul,23,-99.0
231,Africa,Gambia,Banjul,22,-99.0
230,Africa,Gambia,Banjul,21,-99.0
229,Africa,Gambia,Banjul,20,-99.0
228,Africa,Gambia,Banjul,19,-99.0
226,Africa,Gambia,Banjul,17,-99.0
225,Africa,Gambia,Banjul,16,-99.0
224,Africa,Gambia,Banjul,15,-99.0
223,Africa,Gambia,Banjul,14,-99.0
168,Africa,Ethiopia,Addis Ababa,19,-99.0
222,Africa,Gambia,Banjul,13,-99.0
221,Africa,Gambia,Banjul,12,-99.0
220,Africa,Gambia,Banjul,11,-99.0
219,Africa,Gambia,Banjul,10,-99.0
565,Africa,Nigeria,Lagos,26,-99.0
564,Africa,Nigeria,Lagos,25,-99.0
563,Africa,Nigeria,Lagos,24,-99.0
562,Africa,Nigeria,Lagos,23,-99.0
218,Africa,Gambia,Banjul,9,-99.0
217,Africa,Gambia,Banjul,8,-99.0
216,Africa,Gambia,Banjul,7,-99.0
561,Africa,Nigeria,Lagos,22,-99.0
212,Africa,Gambia,Banjul,3,-99.0
213,Africa,Gambia,Banjul,4,-99.0
557,Africa,Nigeria,Lagos,18,-99.0
214,Africa,Gambia,Banjul,5,-99.0
556,Africa,Nigeria,Lagos,17,-99.0
554,Africa,Nigeria,Lagos,15,-99.0
352,Africa,Kenya,Nairobi,23,-99.0
498,Africa,Namibia,Windhoek,19,-99.0
3119,Middle East,Kuwait,Kuwait,30,-99.0
3913,South/Central America & Carribean,Dominican Republic,Santo Domingo,14,-99.0
555,Africa,Nigeria,Lagos,16,-99.0
545,Africa,Nigeria,Lagos,6,-99.0
546,Africa,Nigeria,Lagos,7,-99.0
262,Africa,Guinea,Conakry,23,-99.0
547,Africa,Nigeria,Lagos,8,-99.0
215,Africa,Gambia,Banjul,6,-99.0
549,Africa,Nigeria,Lagos,10,-99.0
548,Africa,Nigeria,Lagos,9,-99.0
1071,Asia,Indonesia,Jakarta,22,-99.0
552,Africa,Nigeria,Lagos,13,-99.0
553,Africa,Nigeria,Lagos,14,-99.0
551,Africa,Nigeria,Lagos,12,-99.0
550,Africa,Nigeria,Lagos,11,-99.0
4370,North America,US,Fairbanks,21,-20.7
3050,Middle East,Bahrain,Manama,21,80.1
235,Africa,Gambia,Banjul,26,80.1
509,Africa,Namibia,Windhoek,30,80.1
287,Africa,Guinea-Bissau,Bissau,18,80.1
3217,Middle East,Saudi Arabia,Dhahran,8,80.1
424,Africa,Mauritania,Nouakchott,5,80.1
3714,South/Central America & Carribean,Barbados,Bridgetown,25,80.1
4087,South/Central America & Carribean,Panama,Panama City,8,80.1
3640,South/Central America & Carribean,Belize,Belize City,11,80.1
3634,South/Central America & Carribean,Belize,Belize City,5,80.1